{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}                      <!--Only allow a logged in user to view the page-->
{% if user == object.user %}
<form action='.' method='POST'> {% csrf_token %}    <!--Action takes you to a different address-->
    <h1>Do you want to delete the event "{{ object.title }}"?</h1>
    <p><input type='submit' value='Yes' /> <a href='../'>Cancel</a></p>
</form>
{% else %}
<h1>Sorry, you did not create this event</h1>

<a href="/">Go Home</a>
{% endif %}
{% else %}
<h1>Sorry, you must be logged in to view this page</h1>

<a href="/members/login_user/">Login Here</a>

{% endif %}

{% endblock %}