{% extends 'base.html' %}

{% block content %}
{% load static %} <link rel="stylesheet" href="{% static 'eventdetails.css' %}">
<div class="fixed-bg"></div>
<body>
    <!--{% load static %} <img src="{% static 'images/college_of_san_mateo_cover.jpeg' %}" alt="CSM Campus">-->

<h1>{{ object.title }}</h1>
<h2>{{ object.posting_club }}</h2>
<p>
    {{ object.date }} / {{ object.start_time }} - {{ object.end_time }}{% if object.repeats %} / Repeats{% else %}{% endif %}
    <br><br>
    {% if object.description %}{{ object.description }}{% else %}Description coming soon{% endif %}
</p>    <!--If description, show it, otherwise show coming soon-->
<br>
{% if object.image %}
<img src="{{ object.image.url }}">
{% endif %}
<br><br>
<a href="/event/update/{{ object.id }}"><button>Modify event</button></a>
<a href="/event/delete/{{ object.id }}"><button>Delete event</button></a>
</body>

{% endblock %}