{% extends 'base.html' %}

{% block content %}
<h1>Board</h1>
<p>This is a template</p>


<p>
All events:
</p>
<div class="row">
  <div class="column">
    <div class="box">
      <img src="bluepattern.png" alt="Blue Pattern">
    </div>
  </div>
</div>

<ul>
{% for event in object_list %}        <!--django template for loop-->
    <!--{{ forloop.counter }} - Title: {{ event.title }}     What Iteration number - what list item-->
    {% if event.approved %}
    <div class="single-list-topics-content">
        <div class="single-list-topics-icon"><i class="flaticon-building"></i></div>
        <h2><a href= "{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
        <p>{{ event.posting_club }}</p>
      </div>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
