{% extends 'base.html' %}
{% block content %}
{% load static %} <link rel="stylesheet" href="{% static 'eventboard.css' %}"> 
<style>
  body {
    height: auto;
    padding-bottom: 1200px;
  }
</style>
<body>
  <!--{% load static %} <img src="{% static 'images/eventboard.png' %}" alt="Event Board">-->
  <br>
<div class="row">
  <!-- For loop to post every event -->
  {% for event in object_list %}        <!--django template for loop-->
{% if event.approved %}                 <!--If the event is approved, post it to the board-->
</div>
<div class="column">
  <a href="{{ event.get_absolute_url }}">
    <!-- Creates a column of boxes -->
    <div class="box">
      {% load static %}
      {% if event.image %}               <!--If the event has an image, put it as the background-->
      <img src="{{ event.image.url }}">
      {% else %}
      <img src="{% static 'images/paper.jpg' %}" alt="Paper">
      {% endif %}
      <div class="gradient"></div>
      <h1><div class="ellipsis">{{ event.title }}</div></h1>
      <h2><div class="ellipsis">{{ event.posting_club }}</div></h2>
      <p>
        {{ event.date }} / {{ event.start_time }} - {{ event.end_time }}
        <br><br>
        {% if event.description %}{{ event.description }}{% else %}N/A{% endif %}
      </p>
    </div>
  </a>
</div>
    {% endif %}
  {% endfor %}
</div>
</body>

{% endblock %}
