{% extends 'base.html' %}

{% block content %}

<style>
    body {
        margin-top: 70px;
    }
</style>

{% if user.is_authenticated %}           <!--Only allow a logged in user to view the page-->
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}    <!--Action takes you to a different address-->
    {{ form.as_p }}
<input type="submit" value="Save"/>
</form>

{% else %}
<h1>Sorry, you must be logged in to view this page</h1>

<a href="/members/login_user/">Login Here</a>

{% endif %}

{% endblock %}