{% extends 'base.html' %}

{% block content %}
{% load static %} <link rel="stylesheet" href="{% static 'eventdetails.css' %}">            <!--Gives the event details with approving the events-->
<div class="fixed-bg"></div>
<body>
<h1>{{ object.title }}</h1>
<h2>{{ object.posting_club }}</h2>
<p>
    {{ object.date }} / {{ object.start_time }} - {{ object.end_time }}{% if object.repeats %} / Repeats{% else %}{% endif %}
    <br><br>
    {% if object.description %}{{ object.description }}{% else %}Description coming soon{% endif %}
</p>    <!--If description, show it, otherwise show coming soon-->
<br>
<a href="/members/moderator/update/{{ object.id }}"><button>Approve event</button></a>
<a href="/members/moderator/delete/{{ object.id }}"><button>Delete event</button></a>
</body>

{% endblock %}