{% extends 'base.html' %}
{% block content %}
{% load static %} <link rel="stylesheet" href="{% static 'eventboard.css' %}">      <!--Displays all the unapproved events-->
<h1>Admin Event Board (un-approved events)</h1>

<div class="row">
  {% for event in object_list %}        <!--django template for loop-->
    {% if event.approved == False %}
      </div>
      <div class="column">
        <a href="/members/moderator/view/{{ event.id }}/">
          <div class="box">
            {% load static %}
            {% if event.image %}                                <!--checks if event.image has a url-->
            <img src="{{ event.image.url }}" alt="Paper">       <!--Display the image-->
            {% else %}
            <img src="{% static 'images/paper.jpg' %}" alt="Paper">
            {% endif %}
            <div class="gradient"></div>
            <h1><div class="ellipsis">{{ event.title }}</div></h1>
            <h2><div class="ellipsis">{{ event.posting_club }}</div></h2>
            <p>
              {{ event.date }} / {{ event.start_time }} - {{ event.end_time }}
              <br><br>
              {% if event.description %}{{ event.description }}{% else %}N/A{% endif %}
            </p>
          </div>
        </a>
      </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}