{% extends 'base.html' %}

{% block content %}

<style>
    body {
        margin-top: 70px;
    }
</style>

<body>

{% if user.is_authenticated %}                      <!--Only allow a logged in user to view the page-->
<form action='.' method='POST'> {% csrf_token %}    <!--Action takes you to a different address-->
    <h1>Do you want to delete the event "{{ object.title }}"?</h1>
    <p><input type='submit' value='Yes' /> <a href="/members/moderator/">Cancel</a>
</form>
{% else %}
<h1>Sorry, you must be logged in to view this page</h1>

<a href="/members/login_user/">Login Here</a>

{% endif %}
</body>

{% endblock %}