{% extends 'base.html' %}

{% block content %}         <!--Gives the form to get the info to create new user-->
<style>
    body {
        margin-top: 70px;
    }
</style>
{% if form.errors %}
<p>There was an error with your form</p>
{% endif %}
    <h1>Create Account</h1>
<br/><br/>



    <form action="{% url 'register_user' %}" method=POST>    <!--Action takes you to a different address-->
    {% csrf_token %}

    {{ form }}

    <form>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>



<br/><br/>
{% endblock %}