body {
    background-color: rgba(0, 77, 150, 0.034);
}

.box {
  transition: box-shadow .3s;
  width: 500px;
  height: 300px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.box:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

img {
  border-radius: 10px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}