body {
  margin-right: 20px;
  margin-top: 70px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  margin: 5px;
  font-stretch: condensed;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Arial;
  color: rgb(0, 0, 0);
}

h2 {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p {
  margin: 5px;
}

.box {
  transition: all .3s ease;
  width: 350px;
  height: 350px;
  margin: 15px;
  border: 2px solid #000000;
  background-color: white;
  float: left;
  position: relative;
}

.box:hover {
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.719);
  transform: translateY(-8px);
  transform: translateX(-8px);
}

.box .gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(245, 255, 110, 0.15), rgba(209, 206, 0, 0.2));
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.box h1 {
  position: absolute;
  width: 90%;
  top: 2px;
  left: 15px;
  font-stretch: condensed;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Arial;
  color: rgb(0, 0, 0);
}

.box h2 {
  position: absolute;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  top: 45px;
  left: 15px;
  color: rgb(0, 0, 0);
}

.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box p {
  position: absolute;
  top: 70px;
  left: 15px;
  width: 80%;
  color: rgb(0, 0, 0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.row > .column {
  padding: 0 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}