{% if messages %}
{% for message in messages %}
 <!-- Modal pop-up and auto close -->
   <div class="modal bg-muted fade" id="myModal" role="dialog">
     <div class="modal-dialog modal-dialog ">
       <!-- Modal content-->
       <div class="modal-content">
        <h5 class="modal-title">{{message}}</h5>
       </div>
     </div>
  </div>
     <script 
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> 
  </script>
  <script 
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> 
  </script>
      <script>
       $(document).ready(function(){
       $("#myModal").modal("show");
       setTimeout(function(){
       $('#myModal').modal('hide')
          }, 4000);
        });
    </script>
  {% endfor %}
  {% endif %}