<!--{% load static %} <link rel="stylesheet" href="{% static 'navbar.css' %}"> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/event/board/">CSM Bulletin</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a class='nav-link' href="/event/create/">Create Event Request</a></li>
          <li><a class='nav-link' href="/members/logout_user/">Log Out</a></li> 
          {% else %}
          <li><a href="/members/login_user/">Log In</a></li> 
          <li><a href="/members/register_user/">Create Account</a></li>        <!--TODO: Add logins for users and admins-->
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>